body {
	margin: 0px;
}

main {
	margin: 0px;
	background-color: black;
	color: mintcream;
}

details {
	width: auto;
}

summary {
	outline: none;
}

details > summary {
	cursor: help;
	width: auto;
	list-style: none;
}

details > summary::-webkit-details-marker {
	display: none;
	border: none;
	width: 180px;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	padding-left: 0px;
	list-style-type: none;
}

footer {
	margin: 0px;
	border: 0px;
	padding: 30px;
	padding-left: 300px;
	width: auto;
	height: 300px;

	background-color: silver;
	color: black;
}

/* id */
/* index.html - mainpage */
#mainpage {
	position: relative;
	margin: 0px;
	padding: 0px;
}

#mainpage-image {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

#mainpage-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	text-align: center;
	font-size: 60pt;
	font-weight: bold;
}

/* index.html - intro */
#introduction {
	margin: 0px;
	border: 0px;
	padding-top: 30px;
	padding-left: 300px;
	padding-bottom: 30px;
	padding-right: 300px;
	height: 1000px;
	font-size: 20pt;
}

/* class */
/* indent */
.indent {
	margin-left: 20px;
	font-size: 16pt;
}
